
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width:100vw;
    min-height: 80vh;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.box1{
    color: white;
    background-color: black;
    margin:auto;
    width: 90vw;
    height: 120px;
    border: 2px solid black;
    display: flex;
    padding: 0px 10px;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 10px;
    /* position: relative; */
}

.item1{
/* background-color: aliceblue; */
display: flex;
align-items: center;
position: relative;
/* z-index: 0; */
}

.time{
    background-color: rgba(76, 74, 72, 0.945);
    padding: 1px 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 14px;
    right: 5px;

    /* z-index: 1; */
}
.box1 .item11 img{
    width: 170px;
    height: 100px;
    border-radius: 5px;
}

.item2{
    background-color: rgb(230, 66, 66);
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-items: space-between; */
    gap: 10px;
    font-family: "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.item21{
    font-weight: 600;
    font-size: 22px;
}

.item22 ul{
    /* font-family: 'Times New Roman', Times, serif; */
    font-weight: 400;
    font-size: 16px;
    /* background-color: bisque; */
    display: flex;
    gap: 5px;
    /* flex-direction: row; */
    list-style-position:inside;

    color: gray;
}

.item22 ul li:first-child{
    list-style: none;

}